

{{#partial "content"}}
    <div class="contact-form bounceInRight delay-2s">

        <h2>The Squads</h2>
        <form action="/newsquad" method="post">

<div class="textbox">
    <img src="users.svg">
    <input type="text" name="" placeholder="Enter Squad Name">

</div>
            <div class="textbox">
                <img src="user-ninja.svg">
                <input type="text" name="" placeholder="Enter Squad Cause">
            </div>


            <input type="submit" name="" value="Continue">

        </form>
    </div>
    {{#if submitted}}
        {{#unless errors}}
            <div class="alert alert-success">
                Form successfully submitted!
            </div>
        {{/unless}}
    {{/if}}


{{/partial}}
{{> layout.hbs}}

<!--<form action="/newheroes" method="post">-->

<!--    <input id="name" placeholder="Name" name="name" type="text">-->
<!--    <input id="age" placeholder="Age" name="age" type="text">-->
<!--    <input id="power" placeholder="Power" name="power" type="text">-->
<!--    <input id="weakness" placeholder="Weakness" name="weakness" type="text">-->
<!--    <button type="submit" class="btn btn-dark">Go!</button>-->
<!--</form>-->
<!--<h3 class="form-title">Create Squad</h3>-->
<!--<div>-->

<!--</div>-->
<!--<div class="form-group textbox">-->
<!--    <i class="fas fa-users"></i>-->
<!--    <input id="name" class="form-input" placeholder="Name" name="name" type="text">-->

<!--</div>-->
<!--<div class="form-group textbox">-->
<!--    <i class="fas fa-user-ninja"></i>-->
<!--    <input id="email" class="form-input" placeholder="Cause" name="cause" type="text">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--    <button type="submit" name="submit" id="submit"  class="butn">Go!</button>-->
<!--</div>-->
<!--<div id="error_message" class="ajax_response" ></div>-->
<!--<div id="success_message" class="ajax_response"></div>-->
