<div class="good animated infinite bounce delay-2s">
    <h1 class="alert-success">Success!</h1>
    <h3 class="alert-success">You have been added to the squad</h3>
    <a href="/">Go Back</a>
</div>

